.header{
    height: 45px;
    display: flex;

    border-bottom: 5px solid var(--main-color-pink);
    border-radius: 20px;

    padding: 0 7px 5px 0;
    margin: 8px 10px 0 10px;
    justify-content: space-between;


    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;

    align-items: center;

}

.profileImgInHeader{
    width: 1.2cm;
    height: 1.2cm;
}

.eleonoreText{
    color: black;
    text-decoration: none;
}



/*--------------DROPDOWN MENU----------------*/

.dropdown-container {
    position: absolute;
    top: 0;
}

.dropdown-button {
    position: absolute;
    display: flex;

    top: 0;

    width: 1cm;
    height: 1cm;

    justify-content: center;

    border-radius: 10px;
    background-color: white;
    padding: 0.375rem 0.75rem;

    font-size: 0.875rem;
    font-weight: 600;
    color: white;
    box-shadow: inset 0 0 0.25rem rgba(255,255,255,0.1);
}

.dropdown-menu{
    display: flex;
    position: absolute;

    right: 18px;
    border-radius: 10px;


    background: whitesmoke;

    font-size: 0.875rem;
    color: white;
}

.dropdown-menu ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dropdownItem{
    position: relative;
    right: 20px;
    list-style-type: none;
}

.v2{
    width: 1cm;
    height: 1cm;

    color: white;

    background-image: url("/dropdownMenu_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.avatarButton{
    width: 1cm;
    height: 1cm;
    border: none;
    border-radius: 50%;
    position: relative;
    top: 3px;
    right: 5px;
}

.avatarButton:hover{
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}
