
/*--------------DROPDOWN MENU----------------*/

.dropdown-container {
    position: absolute;
    top: 0;
}

.dropdown-button {
    position: absolute;
    display: flex;

    top: 0;

    width: 1cm;
    height: 1cm;

    justify-content: center;

    border-radius: 10px;
    background-color: white;
    padding: 0.375rem 0.75rem;

    font-size: 0.875rem;
    font-weight: 600;
    color: white;
    box-shadow: inset 0 0 0.25rem rgba(255,255,255,0.1);
}

.dropdown-menu{
    display: flex;
    position: absolute;

    right: 18px;
    border-radius: 10px;


    background: whitesmoke;

    font-size: 0.875rem;
    color: white;
}

.dropdown-menu ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dropdownItem{
    position: relative;
    right: 20px;
    list-style-type: none;
}
