:root {
    --main-color-creme: #f8f3ea;
    --main-color-blue: #0b1957;
    --main-color-brown: #ffdbd1;
    --main-color-red: #F7374F;
    --main-color-orange: #FC9328;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.popupContainer{
    /*--------------------------CENTER DIV-------------------------*/
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*-------------------------------------------------------------*/

    border-radius: 20px;
    padding: 10px;

    width: 8cm;
    height: fit-content;
    z-index: 999;

    color: black;
    background-color: white;
    border: solid black;

    align-items: center;
    justify-items: center;


    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "upperText upperText"
    "bottomText bottomText"
    "yesButton noButton";
}

.upperText {
    text-align: center;
    align-self: center;
    grid-area: upperText;
}
.bottomText{ grid-area: bottomText;}
.yesButton { grid-area: yesButton; }
.noButton { grid-area: noButton; }

/*-----------------ANSWERS IN QUESTION COMPONENT----------------*/
.ans{
    position: relative;

    justify-self: center;

    border: 3px solid var(--main-color-orange);
    border-radius: var(--radius-lg);
    background-color: rgb(55 65 81);

    list-style: none;
    cursor: pointer;

    width: 100%;
    padding: 8px;
    backface-visibility: hidden;
    transition: 0.2s ease;

    font-size: 17px;
    color: white;
}

.ans:hover{
    transform: scale(1.02)
}

/*----------------SWIPER IN QUESTION COMPONENT---------------------------*/


.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.swiper {
    margin-top: 30px;
    width: 90%;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-bullet {
    width: 21px !important;
    height: 21px !important;
    text-align: center;
    padding-top: 2px;
    font-size: 12px;
    color: #ffffff !important;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: var(--main-color-orange) !important;
}



.swiper-button-next, .swiper-button-prev {
    color: var(--main-color-orange) !important;
    height: 2cm !important;
    width: 1cm !important;
    background-size: contain;
    background-repeat: no-repeat;
}

/*-----COURSE PAGE------------------------*/
.columnContainer{

    display: grid;
    grid-template-areas:
    "learnColumn learnColumn learnColumn"

    "easyTestColumn mediumTestColumn hardTestColumn";

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 40px;

    height: fit-content;

}


@media(max-width: 1024px) {
    .columnContainer {
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas:
            "learnColumn learnColumn learnColumn"
            "learnColumn learnColumn learnColumn"
            "easyTestColumn easyTestColumn easyTestColumn"
            "easyTestColumn easyTestColumn easyTestColumn"
            "mediumTestColumn mediumTestColumn mediumTestColumn"
            "mediumTestColumn mediumTestColumn mediumTestColumn"
            "hardTestColumn hardTestColumn hardTestColumn"
            "hardTestColumn hardTestColumn hardTestColumn";
    }
}


.testColumnCommon{
    padding-left: 10px;

    color: black;

    text-decoration: none;

    position: relative;
    overflow: hidden;

    z-index: 10;
}

.liCommonStyle{
    font-size: 1.3rem;
    font-weight: 600;
}

.learnColumn{
    grid-area: learnColumn;
}

.easyTestColumn{
    grid-area: easyTestColumn;
}


.mediumTestColumn{
    grid-area: mediumTestColumn;
}

.hardTestColumn{
    grid-area: hardTestColumn;
}

@media(max-width: 700px) {
    .testColumnCommon{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: smaller;
    }
}

h2{
    position: relative;
}

.medal{
    position: absolute;
    width: 40px;
    height: 40px;
}

.cl-userAvatarBox {
    width: 170px;
    height: 170px;
    border: solid white 2px;
}

/* Hide scrollbar in Chrome, Safari, and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar in IE, Edge, and Firefox */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}