:root {
    font-family: 'Roboto', sans-serif;
    --main-color-creme: #f8f3ea;
    --main-color-blue: #0b1957;
    --main-color-brown: #ffdbd1;
    --main-color-pink: #fa9ebc;
}

body {
  margin: 0;
}

.popupContainer{
    /*--------------------------CENTER DIV-------------------------*/
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*-------------------------------------------------------------*/

    border-radius: 20px;
    padding: 10px;

    width: 8cm;
    height: fit-content;
    z-index: 999;

    color: black;
    background-color: white;
    border: solid black;

    align-items: center;
    justify-items: center;


    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "upperText upperText"
    "bottomText bottomText"
    "yesButton noButton";
}

.upperText {
    text-align: center;
    align-self: center;
    grid-area: upperText;
}
.bottomText{ grid-area: bottomText;}
.yesButton { grid-area: yesButton; }
.noButton { grid-area: noButton; }

/*-----------------ANSWERS IN QUESTION COMPONENT----------------*/
.ans{
    position: relative;

    justify-self: center;
    right: 25px;

    border: 5px solid var(--main-color-pink);
    border-radius: 20px 70px 20px 70px;
    background-color: var(--main-color-blue);

    list-style: none;
    cursor: pointer;

    width: 100%;
    padding: 5px;
    backface-visibility: hidden;
    transition: 0.2s ease;

}

.ans:hover{
    transform: scale(1.05) perspective(1px);
}

/*----------------SWIPER IN QUESTION COMPONENT---------------------------*/


.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: white;

    /* Center slide text vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-bullet {
    width: 21px !important;
    height: 18px !important;
    text-align: center;
    padding-top: 3px;
    font-size: 12px;
    color: #ffffff !important;
    opacity: 1;
    background-color: var(--main-color-blue);
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: var(--main-color-pink) !important;
}



.swiper-button-next, .swiper-button-prev {
    color: black !important;
    height: 2cm !important;
    width: 1cm !important;
    background-size: contain;
    background-repeat: no-repeat;
}

/*-----COURSE PAGE------------------------*/
.columnContainer{

    display: grid;
    grid-template-areas:
    "learnColumn learnColumn learnColumn"
    "learnColumn learnColumn learnColumn"
    "easyTestColumn mediumTestColumn hardTestColumn"
    "easyTestColumn mediumTestColumn hardTestColumn"
    "easyTestColumn mediumTestColumn hardTestColumn";

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;

    margin: 20px;

    height: 20cm;
}

@media(max-width: 750px) {
    .columnContainer{
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media(max-width: 700px) {
    .columnContainer {
        grid-template-areas:
            "learnColumn learnColumn learnColumn"
            "learnColumn learnColumn learnColumn"
            "easyTestColumn easyTestColumn easyTestColumn"
            "mediumTestColumn mediumTestColumn mediumTestColumn"
            "hardTestColumn hardTestColumn hardTestColumn"
            "hardTestColumn hardTestColumn hardTestColumn";
    }
}


.testColumnCommon{
    border-radius: 20px;
    padding-left: 10px;

    color: black;

    text-decoration: none;

    position: relative;
    overflow: hidden;

    z-index: 10;
}

.liCommonStyle{
    font-size: 1.3rem;
    font-weight: 600;
}

.learnColumn, .pinkBackgroundFiller,
.easyTestColumn, .brownBackgroundFiller,
.mediumTestColumn, .whiteBackgroundFiller,
.hardTestColumn, .blueBackgroundFiller{
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/*--------------------LEARN COLUMN-------------------------------------------------------*/
.learnColumn{
    background-color: var(--main-color-blue);
    color: white;

    grid-area: learnColumn;

    transition: 0.3s ease;
}

.pinkBackgroundFiller{
    position: absolute;
    display: flex;

    border-bottom-left-radius: 100px;

    top: -65%;
    right: -90%;

    height: 100%;
    width: 100%;

    z-index: -2;
    background-color: var(--main-color-pink);

    transition: 0.7s ease;
}

.learnColumn:hover .pinkBackgroundFiller{
    top: -5px;
    right: -5px;
    height: 105%;
    width: 105%;

    border-bottom-left-radius: 20px;
}

.learnColumn:hover{
    color: black;
    scale: 1.02;
}
/*---------------------------------------------------------------------------------------------*/

/*--------------------EASY-BRONZE-TEST COLUMN--------------------------------------------------*/
.easyTestColumn{
    background-color: white;

    grid-area: easyTestColumn;

    transition: 0.3s ease;
}

.brownBackgroundFiller{
    position: absolute;
    display: flex;

    border-bottom-left-radius: 100px;

    top: -80%;
    right: -80%;

    height: 100%;
    width: 100%;

    z-index: -2;
    background-color: var(--main-color-brown);

    transition: 0.7s ease;
}

.easyTestColumn:hover .brownBackgroundFiller{
    top: 0;
    right: 0;
    border-bottom-left-radius: 20px;
}

.easyTestColumn:hover{
    scale: 1.02;
}
/*----------------------------------------------------------------------------------------------------*/

/*--------------------MEDIUM-SILVER-TEST COLUMN-------------------------------------------------------*/
.mediumTestColumn{
    background-color: var(--main-color-pink);

    grid-area: mediumTestColumn;

    transition: 0.3s ease;
}

.whiteBackgroundFiller{
    position: absolute;
    display: flex;

    border-bottom-left-radius: 100px;

    top: -80%;
    right: -80%;

    height: 100%;
    width: 100%;

    z-index: -2;
    background-color: white;

    transition: 0.7s ease;
}

.mediumTestColumn:hover .whiteBackgroundFiller{
    top: 0;
    right: 0;
    border-bottom-left-radius: 20px;
}

.mediumTestColumn:hover{
    scale: 1.02;
}
/*---------------------------------------------------------------------------------------------*/

/*--------------------HARD-BRONZE-TEST COLUMN--------------------------------------------------*/
.hardTestColumn{
    background-color: var(--main-color-brown);
    position: relative;

    grid-area: hardTestColumn;

    transition: 1s ease;
}

.blueBackgroundFiller{
    position: absolute;
    display: flex;

    border-bottom-left-radius: 100px;

    top: -80%;
    right: -80%;

    height: 100%;
    width: 100%;

    z-index: -2;
    background-color: var(--main-color-blue);

    transition: 0.7s ease;
}

.hardTestColumn:hover .blueBackgroundFiller{
    top: 0;
    right: 0;
    border-bottom-left-radius: 20px;
}

.hardTestColumn:hover{
    scale: 1.02;
    color: white;
}
/*---------------------------------------------------------------------------------------------*/


@media(max-width: 700px) {
    .testColumnCommon{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: smaller;
    }

    .learnColumn{
        font-size: larger;
    }
}

h2{
    position: relative;
}

.medal{
    position: absolute;
    width: 40px;
    height: 40px;
}