@import "tailwindcss";
@plugin '../hero.js';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@layer components {
    .customButton {
        @apply
        cursor-pointer transition-all bg-white text-gray-800 px-6 py-2 rounded-lg border border-gray-300 border-b-[4px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px] active:border-b-[2px] active:brightness-90 active:translate-y-[2px] font-medium
    }
}