body{
    background-color: white;
    overflow-y: auto;
}

.columnContainer{

    display: grid;
    grid-template-areas:
    "learnColumn learnColumn learnColumn"
    "learnColumn learnColumn learnColumn"
    "easyTestColumn mediumTestColumn hardTestColumn"
    "easyTestColumn mediumTestColumn hardTestColumn"
    "easyTestColumn mediumTestColumn hardTestColumn";

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;

    margin: 20px;

    height: 20cm;
}

.testColumnCommon{
    border-radius: 20px;
    padding-left: 10px;

    color: black;

    text-decoration: none;

    position: relative;
    overflow: hidden;

    z-index: 100;
}

.liCommonStyle{
    font-size: 1.3rem;
    font-weight: 600;
}

.learnColumn, .pinkBackgroundFiller,
.easyTestColumn, .brownBackgroundFiller,
.mediumTestColumn, .whiteBackgroundFiller,
.hardTestColumn, .blueBackgroundFiller{
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/*--------------------LEARN COLUMN-------------------------------------------------------*/
.learnColumn{
    background-color: var(--main-color-blue);
    color: white;

    grid-area: learnColumn;

    transition: 0.3s ease;
}

.pinkBackgroundFiller{
    position: absolute;
    display: flex;

    border-bottom-left-radius: 100px;

    top: -65%;
    right: -90%;

    height: 100%;
    width: 100%;

    z-index: -2;
    background-color: var(--main-color-pink);

    transition: 0.7s ease;
}

.learnColumn:hover .pinkBackgroundFiller{
    top: -5px;
    right: -5px;
    height: 105%;
    width: 105%;

    border-bottom-left-radius: 20px;
}

.learnColumn:hover{
    color: black;
    scale: 1.02;
}
/*---------------------------------------------------------------------------------------------*/

/*--------------------EASY-BRONZE-TEST COLUMN--------------------------------------------------*/
.easyTestColumn{
    background-color: white;

    grid-area: easyTestColumn;

    transition: 0.3s ease;
}

.brownBackgroundFiller{
    position: absolute;
    display: flex;

    border-bottom-left-radius: 100px;

    top: -80%;
    right: -80%;

    height: 100%;
    width: 100%;

    z-index: -2;
    background-color: var(--main-color-brown);

    transition: 0.7s ease;
}

.easyTestColumn:hover .brownBackgroundFiller{
    top: 0;
    right: 0;
    border-bottom-left-radius: 20px;
}

.easyTestColumn:hover{
    scale: 1.02;
}
/*----------------------------------------------------------------------------------------------------*/

/*--------------------MEDIUM-SILVER-TEST COLUMN-------------------------------------------------------*/
.mediumTestColumn{
    background-color: var(--main-color-pink);

    grid-area: mediumTestColumn;

    transition: 0.3s ease;
}

.whiteBackgroundFiller{
    position: absolute;
    display: flex;

    border-bottom-left-radius: 100px;

    top: -80%;
    right: -80%;

    height: 100%;
    width: 100%;

    z-index: -2;
    background-color: white;

    transition: 0.7s ease;
}

.mediumTestColumn:hover .whiteBackgroundFiller{
    top: 0;
    right: 0;
    border-bottom-left-radius: 20px;
}

.mediumTestColumn:hover{
    scale: 1.02;
}
/*---------------------------------------------------------------------------------------------*/

/*--------------------HARD-BRONZE-TEST COLUMN--------------------------------------------------*/
.hardTestColumn{
    background-color: var(--main-color-brown);
    position: relative;

    grid-area: hardTestColumn;

    transition: 1s ease;
}

.blueBackgroundFiller{
    position: absolute;
    display: flex;

    border-bottom-left-radius: 100px;

    top: -80%;
    right: -80%;

    height: 100%;
    width: 100%;

    z-index: -2;
    background-color: var(--main-color-blue);

    transition: 0.7s ease;
}

.hardTestColumn:hover .blueBackgroundFiller{
    top: 0;
    right: 0;
    border-bottom-left-radius: 20px;
}

.hardTestColumn:hover{
    scale: 1.02;
    color: white;
}
/*---------------------------------------------------------------------------------------------*/

@media(max-width: 750px) {
    .columnContainer{
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media(max-width: 700px) {
    .columnContainer{
        grid-template-areas:
            "learnColumn learnColumn learnColumn"
            "learnColumn learnColumn learnColumn"
            "easyTestColumn easyTestColumn easyTestColumn"
            "mediumTestColumn mediumTestColumn mediumTestColumn"
            "hardTestColumn hardTestColumn hardTestColumn"
            "hardTestColumn hardTestColumn hardTestColumn"
            ;
        }
    .testColumnCommon{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: smaller;
    }

    .learnColumn{
        font-size: larger;
    }
}

h2{
    position: relative;
}

.medal{
    position: absolute;
    width: 40px;
    height: 40px;
}