.outer {
    width: 100%;              /* w-full */
    height: 100%;             /* h-full */
    display: flex;            /* flex */
    align-items: center;      /* items-center */
    justify-content: center;  /* justify-center */
    background-color: #1a202c; /* bg-gray-900 */
}

.inner {
    font-size: 2.25rem; /* text-4xl */
    line-height: 2.5rem;
    font-family: monospace; /* font-mono */
    color: #ffffff;         /* text-white */
}
