.header{

    height: 45px;
    display: flex;

    margin: 8px 10px 0 10px;
    justify-content: space-between;

    font-family: "Qwitcher Grypen", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;

    align-items: center;
}

.profileImgInHeader{
    width: 1.2cm;
    height: 1.2cm;
    height: 1.2cm;
}

.eleonoreText{
    color: white;
    text-decoration: none;
}

button{

    font-family: initial;
    font-size: 1rem;

    cursor: pointer;
    transition: border-color 0.6s, transform 0.2s ease-in-out;
}

.headerButton{
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 45px;
    width: 100px;
    justify-content: center;
    line-height: 1;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;

    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}

.headerButton:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.headerButton:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.headerButton:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

@media (max-width: 700px){
    .header{

    }
}

/*--------------DROPDOWN MENU----------------*/

.dropdown-container {
    position: absolute;
    top: 0;
}

.dropdown-button {
    position: absolute;
    display: flex;

    top: 0;

    width: 1cm;
    height: 1cm;

    justify-content: center;

    border-radius: 10px;
    background-color: white;
    padding: 0.375rem 0.75rem;

    font-size: 0.875rem;
    font-weight: 600;
    color: white;
    box-shadow: inset 0 0 0.25rem rgba(255,255,255,0.1);
}

.dropdown-menu{
    display: flex;
    position: absolute;

    right: 18px;
    border-radius: 10px;


    background: whitesmoke;

    font-size: 0.875rem;
    color: white;
}

.dropdown-menu ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dropdownItem{
    position: relative;
    right: 20px;
    list-style-type: none;
}

.v2{
    width: 1cm;
    height: 1cm;

    color: white;

    background-image: url("/dropdownMenu_icon.png");
    background-size: contain;
    background-repeat: no-repeat;

}
