.grid-container{
    height: 100vh;
    width: 100vw;
    gap: 50px;

    border: solid #F7374F;

    grid-template-columns: 30vw 30vw;
    grid-template-rows: 200px 200px 200px 200px;
    display: grid;
    grid-template-areas:
    "zero zero"
    "first-left first-right"
    "sec-left sec-right"
    "last-left last-right";

    justify-content: center;


    overflow-y: scroll;

}


.item{
    display: flex;
    align-items: center; /*VERTIKALNE os y*/
    justify-content: center; /*HORIZONTALNE os x*/

    color: white;
    border: solid #F7374F;
    border-radius: 16px;

    transition: transform 0.3s ease;
}


.item:hover{
    transform: scale(1.05);
    transition: 0.3s ease;
    background-color: #F7374F;
}

.item-a {

    grid-area: zero;
}

.item-b {
    grid-area: first-left;
}

.item-c {
    grid-area: first-right;
}

.item-d {
    grid-area: sec-left;
}

.item-e {
    grid-area: sec-right;
}



