.mainPageTextContainer{
    display: flex;

    border: 5px solid var(--main-color-pink);
    border-radius: 20px;
    background-color: var(--main-color-blue);

    position: relative;

    margin: 0 auto; /*center horizontally*/
    top: 100px;

    width: 98vw;
    height: 60vh;

    filter: drop-shadow(15px 10px 8px #6a6969);

}

.imgContainer{
    position: relative;
    border: 5px solid var(--main-color-pink);
    border-radius: 50%;

    z-index: 5;

    height: 400px; /* 30% of viewport width */
    width: 400px;

    background-image: url("/pc.jpg");
    /*filter: grayscale(100%);*/
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.textContainer{
    position: absolute;
    background-color: white;
    border: 5px solid var(--main-color-pink);
    border-radius: 20px;

    color: black;

    width: 500px;
    height: fit-content;

    top: 30px;
    right: 10vw;

    padding: 10px;
}

.welcomeText{
}

.mainPageText{
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 2rem;
    color: black;
}



.whyUsbButton{
    position: absolute;

    font-weight: 500;
    border-bottom-right-radius: 10px;

    font-size: 1rem;

    right: 7px;
    bottom: 7px;
}