body{
    font-family: "Roboto", sans-serif;
}
.popupContainer{
    /*--------------------------CENTER DIV-------------------------*/
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*-------------------------------------------------------------*/

    border-radius: 20px;
    padding: 10px;

    width: 8cm;
    height: fit-content;
    z-index: 999;

    color: black;
    background-color: white;
    border: solid black;

    align-items: center;
    justify-items: center;


    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "upperText upperText"
    "bottomText bottomText"
    "yesButton noButton";
}

.noContainer{
    display: none;
}
.upperText {
    text-align: center;
    align-self: center;
    grid-area: upperText;
}
.bottomText{ grid-area: bottomText;}
.yesButton { grid-area: yesButton; }
.noButton { grid-area: noButton; }

.buttonContainer{
    display: flex;
    margin-right: 30px;
}

.submitTest_button{
    position: relative;
    width: 120px;
    margin: 0 10px 20px 25px;
    z-index: 999;
}

.quitTest_button{
    position: relative;
    z-index: 999;
}

@media (max-width: 750px){
    .buttonContainer{
        justify-content: center;
    }

    .timer{
        justify-self: center;
    }
}

.flag{
    background-color: var(--main-color-blue);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    width: 10cm;
    margin-top: 50px;
    padding-left: 10px;

    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.timer{
    margin: 20px;
    width: fit-content;
    display: flex;
    gap: 10px;
}